<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Users</title>

</head>
<body>
<h1>Users</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Кнопки</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.lastName}"></td>
        <td>
<!--            <a th:href="@{/users/{name}/edit (name=${user.id})}" class="button">Edit</a>-->
            <form  th:action="@{/users/{name}/edit (name=${user.id})}">
                <button type="submit" class="button">Редактирование</button>
            </form>
            <form th:method="DELETE" th:action="@{/users/{id} (id=${user.id})}">
                <button type="submit" class="button">Удаление</button>
            </form>
        </td>
    </tr>
</table>
<!--<a th:href="@{users/new}" class="button">Add User</a>-->
<form  th:action="@{users/new}">
    <button type="submit" class="button">Добавление пользователя</button>
</form>
</body>
</html>